.ctx{
  width: 1000px;
  height: 15vh;
  border: solid black 1px;
  position: relative;
  div.playeur{
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid black 1px;
  }
  div.enemy{
    width: 100px;
    height: 100px;
    border: solid black 1px;
    position: absolute;
    display: inline-block;
  }
}