.ctx{
  width: 1000px;
  height: 60px;
  //border: solid black 1px;
  position: relative;
  background-color: white;
  display: block;
  margin: auto;
  div.player{
    position: absolute;
    width: 5vh;
    height: 5vh;
    transition: left 200ms;
    border: solid black 1px;
  }
  div.enemy{
    width: 4vh;
    height: 4vh;
    border: solid black 1px;
    position: absolute;
    display: inline-block;
    //transition: left 500ms;
  }
}
body{
  display: block;
  margin: auto;
  //background-color: black;
}

.shoot{
  position: absolute;
  width: 1vh;
  height: 1vh;
  background-color: black;
  transition: bottom 5ms;
  border-radius: 100%;
}